*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.image-box img{
    width: 100% !important;
    width: 100vh;
}
.book-box img{
    width: 100%  !important;
}
.contact-books img{
    width: 100% !important;
}
.green-icon{
    width: 100px;
}
#contact-icons{
    background:linear-gradient(100deg, rgba(119, 119, 122, 0.8), rgba(176, 176, 181, 0.8) ), url(../img/OIP\ \(24\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 