*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.image-box img{
    width: 100% !important;
}
.book-box img{
    width: 100%  !important;
}
.contact-books img{
    width: 100% !important;
}
.contact-books img a{
    width: 100% !important;

}
