*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.image-box img{
    width: 90% !important;
}
.book-box img{
    width: 90%  !important;
}
.contact-books img{
    width: 85% !important;
}
